body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

input,
button {
    margin-bottom: 10px;
}

details {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

details[open] summary {
    border-bottom: none;
}

.collapsible-content {
    padding: 10px;
}

#planEditor {
    display: flex;
}

#planEditor>div {
    flex: 1;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    padding: 10px;
}

#planEditor>div>ul {
    flex: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h4 {
    margin-top: 0;
    color: #333;
}

#listOfBooksDiv ul,
#planListsDiv>div>ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#planListsDiv>div {
    padding: 10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.selected {
    background-color: #f9c7c8;
    border: solid red 1px !important;
    z-index: 1 !important;
}